<div class="flex items-center justify-center w-full grow">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Register</h5>
    <%= form_with model: @user do |form| %>
      <div class="mb-4">
        <%= form.label "Your username", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white"%>
        <%= form.text_field :username, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder: "username"%>
      </div>
      <div class="mb-4">
        <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder: "password" %>
      </div>
      <%= form.submit "Create account", class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 mb-4 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
    <% end %>
    <%= link_to login_path, class:"text-sm font-medium text-gray-500 dark:text-gray-300" do %>
      Already registered? <span class="text-blue-700 hover:underline dark:text-blue-500">Login</span>
    <% end %>
  </div>
</div>
