<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>MessageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col h-full bg-slate-100">
    <%= render 'layouts/navbar' %>
    <main class="flex flex-col w-full max-w-screen-xl p-4 mx-auto grow">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
